@import url('https://fonts.googleapis.com/css2? family= Homard & display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lobster', cursive;
    height: 200vh;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
    position: fixed;
    width: 100%;
    top: 2%;
    left: 0;
    transition: 0.6s;
    z-index: 999;
    margin-top: 0;
    /* max-width: 60rem; */

}

header h1 span {
    position: relative;
    text-transform: uppercase;
    color: rgba(247, 153, 38, 0.842);
    font-size: xx-large;
    font-weight: 700;
    font-size: 50px;
}

.nav_toggle {
    display: none;
    position: absolute;
    top: 1.5rem;
    right: 7rem;
}

.open {
    height: 35vh;
}

header .nav_right ul {
    position: relative;
    gap: 25px;
    width: 500px;
    justify-content: space-between;
    list-style: none;
    display: flex;
    align-items: center;
    padding-top: 10px;
    /* padding-right: 200%; */
    position: relative;
    margin-left: -65%;
    /* padding: 0; */
}

header .nav_right ul li a {
    position: relative;
    text-decoration: none;
    color: #262626;
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
}

header .nav_right ul li a:hover {
    color: #F38708;
    border-bottom: 2px solid #F38708;
}

header .nav_right ul button {
    position: relative;
    padding: 10px 15px;
    font-family: 'Lobster', cursive;
    font-size: 18px;
    text-transform: uppercase;
    background-color: rgba(247, 153, 38, 0.842);
    border: none;
    border-bottom-left-radius: 15px;
    border-top-right-radius: 15px;
    color: #fff;
    cursor: pointer;
}